{% extends 'base.html.twig' %}

{% block title %}Hello Profile
Controller!{% endblock %}

{% block body %}
<p>{{ user.email }} </p>
{% if user.avatar %}
<img src="{{ user.avatar }}" alt="">
{% endif %}
<form action="{{ path('app_profile_avatar')}}" method="POST">
<div>
      <label for="formFile" class="form-label mt-4">Avatar</label>
      <input class="form-control" type="file" name="avatar" id="formFile">
    </div>
<button type="submit">Envoyer</button>
</form>
{% endblock %}
