{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
<h1>Liste des films</h1>

<div class="row">
    {% for film in films %}
        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h4>Titre : {{ film.title }}</h4>
                <p>Année : {{ film.releaseYear }}</p>
                <a href="{{ path('app_film_show', {id: film.id}) }}" class="btn btn-primary">
                    Voir détail
                </a>
            </div>
        </div>
    {% else %}
        <p>Aucun film trouvé.</p>
    {% endfor %}
</div>
{% endblock %}
